<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Test application</title>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


        <!--controllers-->
        <script type="text/javascript" src="applicationCtrl.js"></script>
    </head>
    <body ng-app="app" ng-controller="ApplicationCtrl">
        <form>
            <div>
                <label>Person ID <input type="text" ng-model="personID"/> </label>



                <div class="input-group">
                    <label class="input-group-btn">
                        <span class="btn btn-primary" style="border-radius: 4px;">
                            Browse&hellip; <input class="inline-block" type="file" name="file" ng-model="file" data-rule-required="true" id="file" style="display: none;" />
                        </span>
                    </label>
                </div>


                <button type="button" style="background-color:#41915D; color: #fff; width: 95px;" class="btn btn-success" ng-click="uploadFile()">
                    <span class="glyphicon glyphicon-floppy-disk"><b> Upload</b></span>
                </button>
            </div>
        </form>
    </body>
</html>